DESCRIPTION

Reduce the time a Mercedes-Benz spends on the test bench.

Problem Statement Scenario:
Since the first automobile, the Benz Patent Motor Car in 1886, Mercedes-Benz has stood for important automotive innovations. These include the passenger safety cell with a crumple zone, the airbag, and intelligent assistance systems. Mercedes-Benz applies for nearly 2000 patents per year, making the brand the European leader among premium carmakers. Mercedes-Benz is the leader in the premium car industry. With a huge selection of features and options, customers can choose the customized Mercedes-Benz of their dreams.

To ensure the safety and reliability of every unique car configuration before they hit the road, the company’s engineers have developed a robust testing system. As one of the world’s biggest manufacturers of premium cars, safety and efficiency are paramount on Mercedes-Benz’s production lines. However, optimizing the speed of their testing system for many possible feature combinations is complex and time-consuming without a powerful algorithmic approach.

You are required to reduce the time that cars spend on the test bench. Others will work with a dataset representing different permutations of features in a Mercedes-Benz car to predict the time it takes to pass testing. Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Mercedes-Benz’s standards.

In [105]:
import numpy as np
import pandas as pd

In [106]:
train_df=pd.read_csv(r"train.csv")
test_df=pd.read_csv(r"test.csv")
print (train_df.shape)
print (train_df.columns)
print (test_df.shape)
print (test_df.columns)

(4209, 378)
Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)
(4209, 377)
Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [107]:
train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [108]:
test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [109]:
train_df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [110]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [111]:
d_types = train_df.columns.to_series().groupby(train_df.dtypes).groups
d_types

{dtype('int64'): Index(['ID', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18',
        ...
        'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
        'X385'],
       dtype='object', length=369),
 dtype('float64'): Index(['y'], dtype='object'),
 dtype('O'): Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')}

#we see that few data has datatype Object type, let's ovserve them

In [112]:
# Encoding the data for  dtype='object'
from sklearn.preprocessing import LabelEncoder

for c in train_df.columns:
    if train_df[c].dtype == 'object':
        lbl = LabelEncoder()
        lbl.fit(list(train_df[c].values) + list(test_df[c].values))
        train_df[c] = lbl.transform(list(train_df[c].values))
        test_df[c] = lbl.transform(list(test_df[c].values))

In [113]:
test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,24,23,38,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,46,3,9,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,24,23,19,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,24,13,38,5,3,32,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,49,20,19,2,3,31,8,12,0,...,1,0,0,0,0,0,0,0,0,0

In [114]:
train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,37,23,20,0,3,27,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,37,21,22,4,3,31,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,24,24,38,2,3,30,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,24,21,38,5,3,30,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,24,23,38,5,3,14,3,13,...,0,0,0,0,0,0,0,0,0,0

In [115]:
# Importing Statistics module 
import statistics 
col_zero_var = []
col_nonzero_var = []
allcolumns=train_df.columns
for item in allcolumns:
    var = statistics.variance(train_df[item])
    if (var == 0):
        col_zero_var.append(item)
    else:
        col_nonzero_var.append(item)
        
print(col_zero_var)
print(col_nonzero_var)

['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178', 'X179', 'X180', 'X181', 'X182', 'X183', 'X184', 'X185', 'X186', 'X187', 'X189', 'X190', 'X191', 'X192', 'X194', 'X195', 'X196', 'X197', 'X198', 'X199', 'X200', 'X201', 'X202', 'X203', 'X204', 'X205', 'X206', 'X207', 'X208', 'X209', 'X210', 'X211', 'X212', 'X213', 'X214', 'X215', 'X216', 'X217', 'X218', 'X219', 'X220', 'X221', 'X222', 'X223', 'X224', 'X225', 'X226', 'X227', 'X228', 'X229', 'X230', 'X231', 'X232', 'X234', 'X236', 'X237', 'X238', 'X239', 'X240', 'X241', 'X242', 'X243', 'X244', 'X245', 'X246', 'X247', 'X248', 'X249', 'X250', 'X251', 'X252', 'X253', 'X254', 'X255', 'X256', 'X257', 'X258', 'X259', 'X260', 'X261', 'X262', 'X263', 'X264', 'X265', 'X266', 'X267', 'X269', 'X270', 'X271', 'X272', 'X273', 'X274', 'X275', 'X276', 'X277', 'X278', 'X279', 'X280', 'X281', 'X282', 'X283', 'X284', 'X285', 'X286', 'X287', 'X288', 'X291', 'X292', 'X294', 'X295', 'X296', 'X298', 'X299', 'X300', 'X301', 'X302', 'X304', 'X305', 'X306', 'X307', 'X308', 'X309', 'X310', 'X311', 'X312', 'X313', 'X314', 'X315', 'X316', 'X317', 'X318', 'X319', 'X320', 'X321', 'X322', 'X323', 'X324', 'X325', 'X326', 'X327', 'X328', 'X329', 'X331', 'X332', 'X333', 'X334', 'X335', 'X336', 'X337', 'X338', 'X339', 'X340', 'X341', 'X342', 'X343', 'X344', 'X345', 'X346', 'X348', 'X349', 'X350', 'X351', 'X352', 'X353', 'X354', 'X355', 'X356', 'X357', 'X358', 'X359', 'X360', 'X361', 'X362', 'X363', 'X364', 'X365', 'X366', 'X367', 'X368', 'X369', 'X370', 'X371', 'X372', 'X373', 'X374', 'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384', 'X385']

In [116]:
print('Before : ', train_df.shape)
train_df = train_df[col_nonzero_var]
print('After : ', train_df.shape)

Before :  (4209, 378)
After :  (4209, 366)

In [117]:
# as col_nonzero_var has 'y' column, removing it to apply on Test data
col_nonzero_var1 = []
for col in col_nonzero_var:
    if col != 'y':
        col_nonzero_var1.append(col)
        
print(col_nonzero_var1)

['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178', 'X179', 'X180', 'X181', 'X182', 'X183', 'X184', 'X185', 'X186', 'X187', 'X189', 'X190', 'X191', 'X192', 'X194', 'X195', 'X196', 'X197', 'X198', 'X199', 'X200', 'X201', 'X202', 'X203', 'X204', 'X205', 'X206', 'X207', 'X208', 'X209', 'X210', 'X211', 'X212', 'X213', 'X214', 'X215', 'X216', 'X217', 'X218', 'X219', 'X220', 'X221', 'X222', 'X223', 'X224', 'X225', 'X226', 'X227', 'X228', 'X229', 'X230', 'X231', 'X232', 'X234', 'X236', 'X237', 'X238', 'X239', 'X240', 'X241', 'X242', 'X243', 'X244', 'X245', 'X246', 'X247', 'X248', 'X249', 'X250', 'X251', 'X252', 'X253', 'X254', 'X255', 'X256', 'X257', 'X258', 'X259', 'X260', 'X261', 'X262', 'X263', 'X264', 'X265', 'X266', 'X267', 'X269', 'X270', 'X271', 'X272', 'X273', 'X274', 'X275', 'X276', 'X277', 'X278', 'X279', 'X280', 'X281', 'X282', 'X283', 'X284', 'X285', 'X286', 'X287', 'X288', 'X291', 'X292', 'X294', 'X295', 'X296', 'X298', 'X299', 'X300', 'X301', 'X302', 'X304', 'X305', 'X306', 'X307', 'X308', 'X309', 'X310', 'X311', 'X312', 'X313', 'X314', 'X315', 'X316', 'X317', 'X318', 'X319', 'X320', 'X321', 'X322', 'X323', 'X324', 'X325', 'X326', 'X327', 'X328', 'X329', 'X331', 'X332', 'X333', 'X334', 'X335', 'X336', 'X337', 'X338', 'X339', 'X340', 'X341', 'X342', 'X343', 'X344', 'X345', 'X346', 'X348', 'X349', 'X350', 'X351', 'X352', 'X353', 'X354', 'X355', 'X356', 'X357', 'X358', 'X359', 'X360', 'X361', 'X362', 'X363', 'X364', 'X365', 'X366', 'X367', 'X368', 'X369', 'X370', 'X371', 'X372', 'X373', 'X374', 'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384', 'X385']

In [118]:
# Get the expected column values

print('Before : ', test_df.shape)
test_df = test_df[col_nonzero_var1]
print('After : ', test_df.shape)

Before :  (4209, 377)
After :  (4209, 365)

In [119]:
# Function to chcek if there is any null value
def checknull(df):
    null_columns = []
    for col in df.columns:
        null_chk = sum(pd.isnull(df[col]))
        if (null_chk != 0):
            null_columns.append(col)
    return null_columns

In [120]:
#Lets check if there is any null value
print(checknull(train_df))
print(checknull(test_df))

[]
[]

#so for none of the columns there are null values.

In [121]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

X = train_df.drop("y",axis=1).values
print('Input : ', X.shape)
y = train_df["y"].values
print('Output : ', y.shape)
test_df = test_df.values
print('test_df shape : ', test_df.shape)

Input :  (4209, 365)
Output :  (4209,)
test_df shape :  (4209, 365)

In [122]:
# Splitting the Given the tarining dataset 'train_df' into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [123]:
test_df

array([[   1,   24,   23, ...,    0,    0,    0],
       [   2,   46,    3, ...,    0,    0,    0],
       [   3,   24,   23, ...,    0,    0,    0],
       ...,
       [8413,   51,   23, ...,    0,    0,    0],
       [8414,   10,   23, ...,    0,    0,    0],
       [8416,   46,    1, ...,    0,    0,    0]], dtype=int64)

In [124]:
print('X_train : ', X_train.shape)
print('X_test : ', X_test.shape)
print('y_train : ', y_train.shape)
print('y_test : ', y_test.shape)

X_train :  (3367, 365)
X_test :  (842, 365)
y_train :  (3367,)
y_test :  (842,)

In [125]:
y_test

array([ 96.49,  96.93, 114.22,  88.1 ,  92.63,  93.83, 109.79,  89.03,
       109.38, 103.9 ,  93.59,  91.03,  93.5 , 110.7 , 108.92,  75.88,
        89.34, 118.44, 114.88,  92.21,  89.75, 108.01, 108.42, 100.21,
       109.09, 112.97,  95.57,  84.76,  92.34, 101.89,  92.83, 110.43,
        94.35, 111.33, 107.68,  98.59, 106.27, 110.52, 130.6 , 100.21,
        88.29, 118.53,  91.88,  89.24,  93.  ,  87.4 ,  90.69, 121.31,
        91.46, 114.35, 117.35,  87.28, 101.12,  85.14,  89.8 ,  87.79,
        91.67, 112.89,  90.82,  91.68, 102.91, 101.98,  88.1 ,  87.66,
       102.78, 106.77, 131.69, 109.74,  97.99,  78.91,  90.34,  88.73,
       107.96,  88.14, 131.56, 121.23, 109.19, 107.97, 101.49, 101.03,
       103.47, 108.43, 128.14, 104.79, 112.71,  95.43,  89.35,  94.83,
        91.59, 101.71, 110.81, 105.94, 101.59,  89.96,  92.29, 117.36,
        91.81,  91.32, 104.29, 101.34,  90.67,  94.31,  87.86, 108.87,
        98.31, 136.96,  95.65,  99.86, 112.31,  75.54, 107.16, 107.9 ,
        86.51,  92.08,  98.57,  75.41, 111.15,  99.03, 103.31, 117.81,
        85.82,  93.26,  74.54, 110.83,  91.38, 107.77, 125.72, 103.9 ,
        99.82, 101.57, 104.55,  99.94,  87.76,  91.32, 112.88, 107.93,
        92.64,  89.37, 106.19, 105.4 , 100.37, 104.85, 102.83, 112.51,
       100.59, 112.42, 135.53, 111.41,  91.84,  89.48, 108.12,  93.8 ,
        90.83,  82.24,  99.48,  97.36,  85.23,  92.97, 124.64, 112.19,
       125.91, 116.65,  94.47, 105.65,  91.88, 117.29, 117.09,  87.63,
       113.88, 102.58,  88.36, 107.36, 109.17, 107.45, 117.27, 105.87,
       107.38, 105.04, 128.35,  88.61, 110.85,  89.3 ,  76.86, 108.76,
        88.98, 107.29,  93.53, 101.76, 104.77, 114.46,  90.49,  87.83,
       114.32,  89.89,  97.26, 106.35, 134.21,  89.94, 104.57,  87.91,
        98.16, 115.82,  90.28, 108.94, 116.28,  89.46, 109.02,  90.9 ,
        98.08,  75.9 , 100.07, 105.76, 115.64, 115.75, 116.73, 104.73,
       117.14,  95.59,  89.06, 115.39, 108.74,  91.88, 115.21,  86.81,
       112.89,  84.85,  89.91,  92.73, 101.97, 108.93, 112.94,  98.96,
       109.11, 125.26, 116.34, 131.67, 105.96, 106.09, 110.36, 102.18,
        88.14, 103.63, 103.39,  94.11,  90.89,  91.61,  87.57,  95.65,
       113.35, 108.39,  88.42,  88.64,  96.96,  89.43, 126.52, 110.29,
        89.75,  89.1 , 107.86, 108.99,  95.04,  98.81,  89.65, 108.73,
       108.57,  99.49, 265.32,  85.17, 103.43,  94.5 , 106.05, 137.49,
       103.32, 112.08, 107.5 ,  99.65,  88.97, 106.38,  89.67,  88.2 ,
       125.45, 107.61, 111.92,  90.71, 106.39, 109.22,  97.32, 107.36,
       105.08,  90.59,  75.39, 102.63, 108.03,  90.08,  92.82, 101.25,
        92.6 , 110.24,  90.  , 110.84, 121.65, 107.99,  92.41,  74.08,
       113.41,  97.55, 103.01, 109.91,  92.53, 105.35,  86.93,  99.49,
        97.57, 110.87,  87.05,  88.53, 106.44, 109.02, 103.2 ,  90.44,
       121.92,  90.05,  87.95, 104.36,  88.13,  89.62,  89.05,  90.58,
       128.78,  91.82,  88.67, 107.48, 116.13, 102.77,  92.4 , 108.26,
        90.96,  89.19, 108.41, 115.53, 107.13,  98.04,  99.85, 108.43,
        94.35,  97.94,  92.54, 111.1 ,  94.9 , 111.83,  86.18,  88.46,
        92.98,  91.55,  88.59,  79.22, 108.64, 102.3 ,  95.1 ,  91.79,
        89.98,  92.27,  89.86, 100.71,  76.56,  92.81,  98.24,  90.13,
       106.82,  99.15, 102.5 , 104.74,  99.14,  90.03, 111.66,  90.27,
       105.89, 110.37, 113.34, 135.29,  93.25,  93.25,  90.84, 154.16,
        99.82, 105.15,  99.69, 150.43,  89.31,  88.53,  89.21, 107.68,
        90.88,  89.95, 128.93, 101.39,  95.7 ,  88.7 , 110.14,  91.85,
       108.47, 108.58,  92.46, 106.63, 127.27,  89.51, 104.18,  87.75,
        97.91, 114.5 , 100.07, 110.07,  96.61,  88.83,  88.44,  84.53,
        94.62, 110.16,  99.72,  88.18, 140.25,  77.64,  86.23, 105.53,
       106.85, 123.09, 114.34,  98.13, 122.4 , 115.73,  98.93, 106.5 ,
        87.38, 104.97,  93.42, 116.6 ,  91.27, 116.61, 113.07,  94.57,
       107.39,  97.78,  98.01, 107.11, 107.93, 116.61,  90.35,  93.71,
       109.11,  99.87, 106.67, 115.42,  93.02, 111.31,  91.23, 103.14,
        96.38, 124.75, 112.12, 101.99,  76.38,  99.1 ,  98.44, 120.95,
       137.32, 108.42, 100.52, 116.16, 122.69, 108.25, 100.49,  89.44,
        91.62,  91.94, 102.25, 100.95, 105.7 , 100.89, 110.54, 119.99,
        88.03, 112.09, 100.68,  88.77,  92.73, 101.68,  91.33,  90.38,
        91.2 , 101.11, 106.  , 118.53, 121.06,  77.69,  96.74,  89.7 ,
        90.6 , 122.66,  96.44,  89.15, 104.07,  87.51,  93.62, 102.97,
       130.97, 114.78, 133.55,  88.15,  95.87,  88.98,  93.83, 105.53,
        98.19,  73.76, 106.81,  96.  , 109.01,  83.23,  95.15,  75.59,
       113.28,  93.71, 107.86,  88.7 ,  88.23,  95.56, 101.79, 105.11,
       101.58, 115.27, 108.35, 109.04, 105.06, 106.81, 106.4 , 113.31,
       109.7 ,  87.56, 110.76,  90.52,  96.23,  97.69, 114.35,  99.55,
       111.68,  90.83, 114.51,  88.08, 113.77, 104.09,  89.37,  90.43,
        87.53, 108.77,  92.79, 106.96,  76.01,  89.58,  90.7 ,  87.89,
        98.17,  88.57, 125.75, 104.45,  90.46, 106.47, 113.75, 113.03,
        96.45,  94.02,  96.69, 117.46,  88.78, 110.64, 107.3 ,  97.32,
       111.74,  92.43, 112.31, 107.98,  88.93,  74.99,  97.57,  90.58,
        96.78, 108.  , 112.49,  90.79,  89.63, 114.56, 109.02, 110.63,
        94.6 , 108.14, 108.08, 113.02,  91.02, 107.29,  89.6 ,  99.93,
        97.93,  91.48,  88.36, 108.93,  98.1 ,  91.76, 103.93, 107.85,
       119.38,  87.54,  77.06,  94.41, 120.77, 105.85, 102.49, 108.73,
       108.06, 110.07,  89.91, 121.18,  88.83, 111.74,  90.05, 103.54,
       110.54, 105.52, 103.62, 105.91,  89.6 , 115.45, 110.05,  90.43,
        95.99, 110.94, 105.78, 135.14, 127.91,  87.16, 106.72,  87.25,
        87.75, 104.82, 108.52,  99.84, 100.78, 115.05,  92.36,  93.95,
        86.95, 118.85,  91.62,  94.29, 111.04,  92.65,  89.86, 141.31,
       105.89, 113.86, 100.29,  88.86, 100.27,  95.76, 105.31,  97.74,
       109.33,  97.  ,  94.87,  96.88,  86.4 ,  99.63, 119.71,  93.4 ,
        94.56,  89.19,  88.6 ,  88.86,  88.16,  87.25, 111.64,  92.26,
       116.2 ,  73.02, 133.36,  94.07,  73.83, 118.74, 106.33,  94.51,
        97.9 ,  88.18,  89.59,  98.78, 134.43,  75.26, 101.64, 121.85,
        92.92,  95.67, 106.13,  98.25,  90.02,  90.52,  93.76,  90.14,
       109.82, 126.41, 109.69, 113.39,  94.53, 108.32,  87.1 , 105.76,
        90.73,  88.75, 114.13,  89.53,  88.61,  90.41, 107.04,  77.68,
        91.5 ,  90.49,  90.84,  94.18,  89.83,  89.44,  87.49, 108.23,
        97.42,  90.67,  98.84,  94.44, 107.24, 111.85, 104.18,  98.85,
       117.89, 112.54,  77.5 , 114.46, 105.79, 106.4 ,  97.84,  85.55,
        88.71,  92.59,  88.53, 114.21,  90.76,  99.26, 103.82, 104.87,
        90.35, 109.21, 116.82,  92.04, 110.32, 109.7 ,  96.03,  96.35,
       138.19,  87.94, 111.16, 111.47, 107.9 , 115.6 ,  93.74,  87.09,
        75.82,  89.62, 110.71,  98.79,  96.11,  87.28,  97.19, 110.47,
       103.42, 112.36, 119.87,  92.72,  90.57,  94.6 ,  91.66,  99.13,
        94.65, 108.69,  76.33,  94.85,  97.93, 114.43,  90.86, 100.68,
        99.54, 111.42, 133.86,  92.59,  88.77, 114.83,  90.69,  89.38,
       105.97,  99.38,  99.53, 109.1 ,  94.64, 115.82, 114.1 ,  92.05,
       105.57, 113.56,  92.13, 116.39,  94.92,  96.53, 108.43, 131.98,
        89.6 ,  99.93, 106.58,  83.96, 142.71, 109.67, 107.44, 108.66,
       111.54,  98.32, 112.2 ,  94.83, 107.28, 122.4 ,  91.11,  98.67,
       106.88,  93.71, 111.9 ,  91.63, 103.98,  90.52,  92.88,  86.94,
       112.41,  88.88])

In [126]:
# Apply PCA
from sklearn.decomposition import PCA
pca = PCA(n_components = 12)
# None was reset by 12 , None uas used to find the variance
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)
# Transform data for the given test data set
test_df = pca.transform(test_df)

# Cumulative expllain variance
explained_variance = pca.explained_variance_ratio_

In [127]:
explained_variance

array([9.99904302e-01, 4.09031166e-05, 2.23421418e-05, 1.12154931e-05,
       8.18773618e-06, 7.67810684e-06, 1.43435904e-06, 6.72260943e-07,
       3.91686235e-07, 2.59578109e-07, 2.17613213e-07, 2.09964812e-07])

In [128]:
X_train

array([[-2.85394807e+03,  2.46650378e+01, -6.05835204e+00, ...,
        -3.18609442e-01, -1.05518896e-01, -3.29071568e-02],
       [-3.29395519e+03,  3.04903015e+01,  1.66598170e+01, ...,
         7.87493230e-03, -5.16769030e-01, -1.58300935e+00],
       [ 1.67609150e+03, -3.82341068e+00, -9.87003364e+00, ...,
         9.67346199e-01, -7.82362559e-02, -4.83028517e-01],
       ...,
       [ 9.05092868e+02, -1.27409536e+01,  1.23703669e+00, ...,
         9.60468195e-01, -1.08806613e+00,  9.60832207e-01],
       [-1.00094142e+03, -1.19443866e+01,  2.24935713e+00, ...,
        -1.47891951e+00, -1.11814092e-01,  3.47387572e-01],
       [-1.23894154e+03,  3.86709084e+01,  7.34625205e+00, ...,
        -8.21830386e-01,  1.63443333e+00,  9.43115630e-02]])

#Applying XGBoost

In [129]:
import xgboost as xgb

In [130]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test, label=y_test)
D_test_df = xgb.DMatrix(test_df)

In [131]:
'''Train the xgb model then predict the test data'''
y_mean = np.mean(y_train)

param = {
    'n_trees': 520, 
    'eta': 0.0045,
    'max_depth': 4,
    'subsample': 0.93,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'base_score': y_mean, # base prediction = mean(target)
    'silent': 1
        } 

steps = 1250  # The number of training iterations

In [132]:
model = xgb.train(param, D_train, steps)

In [133]:
# predict output for splitted test data from Orginal train data 
y_pred = model.predict(D_test)

In [134]:
print(y_pred.shape)
y_pred

(842,)

array([108.30901 ,  96.94895 , 111.65728 ,  97.53912 ,  99.6185  ,
        94.10359 , 101.70929 , 101.22127 , 105.089874,  97.84861 ,
        94.23259 ,  94.273575,  95.83564 , 110.30177 , 103.342606,
        83.98297 ,  96.45807 ,  97.835144, 108.268524,  97.623665,
        98.5753  ,  95.80192 , 110.903046, 103.16148 , 102.709236,
        95.184906, 100.240715,  94.68312 ,  95.74212 , 102.902405,
        95.04305 , 109.25165 , 103.99795 , 108.92621 ,  97.33527 ,
        95.15915 , 111.90012 , 105.55895 ,  98.07698 , 103.09326 ,
       100.59174 ,  92.63013 ,  99.41328 ,  94.997925,  91.89498 ,
        92.18721 ,  95.30876 ,  93.62407 ,  98.01995 , 112.06244 ,
       108.84588 ,  92.22907 , 102.9413  ,  91.10362 , 104.694275,
        97.05176 ,  95.47963 , 109.13242 ,  96.06717 ,  97.17301 ,
       103.49769 ,  95.547806,  99.71703 ,  98.62    , 103.456955,
        93.97748 , 103.92313 , 117.49625 ,  99.89029 ,  76.96495 ,
        96.68688 ,  92.711205, 107.53766 ,  97.81105 , 103.95603 ,
       109.9613  , 102.177055, 111.21655 ,  95.0831  , 102.582825,
       108.44698 , 100.636604, 103.13866 ,  92.00474 , 110.8864  ,
        96.12422 ,  92.229126,  94.41786 ,  95.173965, 103.415016,
       103.72467 , 109.58343 ,  98.43985 ,  94.931694, 104.14623 ,
       103.07047 ,  98.58415 ,  92.04141 , 108.38674 , 100.87692 ,
        96.24871 , 106.6916  ,  95.55772 , 102.424965,  95.34288 ,
       110.31831 ,  90.41715 , 103.78596 , 109.53474 ,  93.434456,
       110.615295, 103.59415 ,  98.762344,  96.39196 ,  95.62672 ,
        77.152756, 111.21895 , 105.56837 , 103.948654, 107.521706,
       103.485245,  94.19786 ,  88.49683 , 112.323204,  96.897964,
       109.52466 , 110.84596 , 100.288635, 104.763794,  99.04122 ,
       101.014366, 107.31495 ,  92.67728 ,  95.56133 ,  92.70793 ,
       103.835884,  97.023994,  92.73306 , 109.394005, 103.308586,
       104.40622 , 100.681046, 105.90688 ,  97.969444, 103.781044,
       106.76335 , 111.070595, 102.93973 ,  96.60535 ,  95.882965,
       108.57241 ,  95.31796 ,  94.52862 , 100.60966 ,  92.98314 ,
        91.85247 , 102.53637 ,  96.541985,  98.19025 , 105.722755,
       114.41538 , 117.44708 ,  98.681145, 112.4171  ,  96.15772 ,
       103.22561 , 110.0672  ,  94.101616, 110.06527 , 100.52716 ,
       104.12056 , 104.1496  ,  98.639404, 117.7627  , 109.88522 ,
       108.47225 , 111.0363  , 102.10768 , 104.791016, 102.48587 ,
       108.42125 ,  95.80358 ,  82.196686, 105.53085 ,  96.03916 ,
       106.50028 ,  96.14484 , 105.29147 , 103.093704, 102.03391 ,
        96.82692 ,  94.905   , 108.60108 ,  93.67284 , 107.14641 ,
       111.24738 , 100.74859 ,  98.566444, 110.3995  , 101.69745 ,
       103.915794, 117.58439 ,  96.85474 , 108.1711  , 110.02769 ,
        98.57179 ,  93.37536 ,  95.85793 ,  94.82267 ,  77.67879 ,
       109.16563 , 110.096214, 107.860275, 111.21436 , 107.96904 ,
       104.99065 , 108.39632 ,  94.677925,  95.0028  , 104.86353 ,
       105.26731 ,  92.62415 , 104.665   ,  92.71428 , 110.04706 ,
        98.56242 ,  97.72547 ,  95.85238 , 104.414406, 107.66095 ,
       101.03549 , 106.65208 , 103.75918 , 117.563995, 110.37878 ,
       107.61757 , 110.466064, 108.40842 , 107.34904 , 103.8746  ,
        95.38494 ,  95.99927 ,  94.645706,  97.79895 ,  94.095406,
       109.281906,  97.28211 ,  94.173615, 110.45068 , 104.93356 ,
        96.9707  ,  98.14021 , 100.69284 ,  96.794334,  99.86319 ,
       110.22724 ,  98.794136,  93.58606 , 105.45876 , 106.02839 ,
        93.84731 , 104.352684,  95.33011 , 106.003586, 120.002   ,
       101.97821 ,  92.07368 ,  93.605   ,  99.89423 ,  96.963264,
       108.62899 , 109.75633 , 100.03886 , 105.73865 , 102.79628 ,
       118.51947 ,  97.27551 , 106.61837 ,  94.66724 ,  93.1524  ,
       110.05961 , 106.49671 , 110.06473 ,  92.944756, 111.52666 ,
       108.01575 , 100.82409 , 108.517975, 118.53465 ,  98.9768  ,
        98.8669  , 108.24945 , 110.80407 , 100.173195, 101.11796 ,
       102.90636 ,  93.547554,  99.945915, 103.58965 , 117.30173 ,
       116.173645, 100.910034,  92.98621 ,  77.202545, 107.050026,
        96.71225 , 102.91141 , 103.19633 ,  95.25627 ,  98.68761 ,
       108.350426, 103.66696 , 104.28159 , 101.437485,  92.23526 ,
        98.01435 ,  95.42509 , 105.11224 , 108.728935,  95.26881 ,
       103.67466 ,  94.81574 ,  98.920494, 103.78114 ,  96.46865 ,
        94.08729 ,  98.61699 ,  92.265396, 114.46556 , 102.573746,
        97.41319 , 100.60697 , 107.28138 , 108.479164,  95.02371 ,
       102.27835 , 100.31413 ,  96.195984, 115.95178 , 105.188736,
       104.83635 ,  97.61881 , 103.28338 , 107.47619 ,  92.774345,
        92.745255,  97.62262 ,  91.69748 ,  94.682076, 102.78967 ,
        95.15519 ,  95.45012 ,  96.5412  ,  98.07045 ,  97.325165,
        78.75357 ,  97.743416, 106.83922 ,  98.48993 ,  96.936676,
        95.69891 ,  94.13868 ,  94.88409 , 104.462845,  77.49815 ,
        98.21641 , 100.59095 , 104.8634  , 116.78026 ,  97.46135 ,
       102.95302 , 104.25279 ,  97.65611 ,  93.84916 ,  99.88174 ,
        97.736755, 103.57965 , 108.95347 , 104.95823 ,  98.258514,
        92.12411 ,  99.72092 ,  96.399124, 106.07107 ,  92.8842  ,
       107.1501  , 104.6771  , 104.875404,  92.7242  ,  94.88046 ,
        94.52912 , 109.70738 , 102.48183 ,  95.907845, 102.64853 ,
        95.585976,  99.43525 ,  96.23139 , 107.46209 , 100.139725,
        98.36894 , 103.61022 ,  99.33436 , 109.2212  , 109.956314,
        99.9137  , 102.42472 ,  93.91415 ,  95.251854, 116.10041 ,
        94.25172 , 109.05715 , 105.143524,  91.63127 ,  97.73593 ,
        96.861885,  93.122696, 105.438705,  94.19701 ,  96.10732 ,
       104.08894 ,  77.68521 ,  93.35557 , 100.11169 , 107.08257 ,
       117.49715 , 104.51778 ,  99.59169 , 118.0237  , 119.523796,
       104.64397 , 104.11082 , 109.26218 , 112.805695,  95.41921 ,
       119.53226 ,  98.45616 , 104.295876, 107.62994 ,  97.202126,
       109.26999 , 104.76394 , 102.63907 , 112.14862 , 108.02466 ,
       110.647964, 103.42764 ,  97.00614 , 118.68732 , 102.06324 ,
       103.254196, 113.42862 ,  96.766045, 100.405075, 102.91887 ,
       108.43258 ,  99.7199  , 115.38531 , 117.75226 , 103.06499 ,
        77.51201 , 104.054596,  92.69143 ,  94.80621 , 117.24295 ,
       104.7152  ,  92.07121 ,  92.62593 , 102.55009 , 107.98953 ,
       105.32397 ,  97.201584,  97.26164 ,  93.90936 , 110.89656 ,
       104.78922 , 117.648865, 106.0541  , 110.466064, 102.323456,
        97.07546 , 108.766914, 101.1363  ,  98.66105 ,  95.14441 ,
       101.00439 ,  95.97097 ,  93.90289 , 104.6589  , 106.678925,
       103.56899 , 106.20831 ,  96.438576,  89.444595, 101.94265 ,
        91.86134 ,  99.92466 , 116.531944, 101.62319 , 104.297226,
       104.25279 , 100.29128 ,  93.8664  ,  92.99307 , 107.85384 ,
       110.34958 , 107.80847 ,  94.695656, 103.55707 ,  97.50651 ,
       101.82035 ,  95.86748 , 104.001335,  77.205215, 111.055176,
        94.456985, 105.19571 ,  91.433716,  97.91178 ,  77.6967  ,
        97.37968 ,  96.50067 , 110.10459 ,  92.276215, 100.99697 ,
        95.16841 , 108.023   , 108.22444 , 100.47377 , 108.69154 ,
       108.819756, 112.062744, 109.52549 , 110.16867 , 107.19269 ,
       108.90504 , 111.79492 ,  94.105934, 107.150314,  98.91774 ,
        94.44208 ,  97.57311 ,  98.965294, 104.26042 , 105.31188 ,
        98.68854 ,  91.99834 ,  94.40708 , 100.71832 , 109.593765,
        98.60121 ,  93.98668 ,  96.01361 , 107.52198 ,  94.272675,
       106.68525 ,  96.30878 ,  99.106705,  95.55659 ,  92.98077 ,
        98.813934,  98.287415, 112.346176, 108.73164 ,  95.227325,
       104.0702  , 101.05116 , 113.03743 ,  95.6337  ,  98.59309 ,
        95.696014, 102.58175 , 106.19144 , 105.31563 , 111.88301 ,
        95.27443 , 110.74155 ,  94.26491 ,  97.00232 , 107.92968 ,
        96.64497 ,  77.728836,  97.595795,  93.25651 , 104.28953 ,
        97.805984, 108.30797 ,  94.89059 ,  99.17345 , 112.244354,
       107.98088 , 105.1213  , 100.37018 , 104.766426, 106.91121 ,
       108.616684,  94.72245 ,  94.5577  ,  97.916306, 105.123055,
       104.231766,  97.18041 , 100.04863 , 103.63105 ,  94.93535 ,
        96.04779 , 113.22137 , 109.903275, 113.124435,  99.1171  ,
        77.56022 ,  93.88293 , 105.43941 , 102.824356,  98.6499  ,
       105.83574 , 110.4071  , 112.81467 ,  94.32308 ,  95.656876,
        93.85538 , 117.593956,  98.66296 ,  93.98358 , 101.658875,
       107.91865 , 104.97642 , 110.28044 ,  99.36654 , 107.26683 ,
       105.75153 ,  93.14161 ,  92.72054 , 112.095535, 110.14287 ,
       110.11379 , 110.369415,  92.657166, 102.619064,  95.59713 ,
        96.80177 , 104.59385 , 105.32812 ,  99.02876 , 102.62211 ,
       104.44167 ,  94.1078  ,  94.002716,  97.47928 , 117.90361 ,
        95.869316,  93.99005 , 109.36422 ,  91.18598 ,  97.230896,
       111.64701 , 110.36551 , 103.213776, 100.44258 ,  92.69694 ,
        93.60544 , 101.523834, 104.37076 , 101.3748  , 111.24502 ,
       102.7711  , 105.18209 ,  95.3335  , 102.07736 , 100.67385 ,
       111.35553 ,  98.273865,  96.303474,  95.37154 ,  94.43279 ,
        94.13896 , 101.16643 ,  91.62977 , 103.84837 ,  92.56591 ,
       111.4252  ,  99.068405,  98.24326 ,  97.8073  , 100.54187 ,
       108.88255 , 103.533104,  96.19921 ,  91.69839 ,  96.01361 ,
        93.35486 , 104.21857 , 113.812325,  76.40639 , 106.42033 ,
       102.903305,  94.69758 ,  96.78626 , 100.38299 ,  97.01349 ,
        93.17645 ,  95.54781 , 102.39702 , 101.41858 , 113.95168 ,
       104.97631 , 104.37567 , 107.84755 ,  96.475075, 100.665306,
        99.362656, 112.0119  ,  97.470634,  88.31338 , 106.592026,
        93.54241 ,  97.204475, 100.824326, 108.13577 ,  76.998184,
        94.40875 ,  98.896194, 100.37324 ,  98.85231 ,  97.34049 ,
        95.595474,  98.51767 , 109.63547 ,  95.723946,  95.312065,
       106.86249 ,  95.69436 , 104.21088 , 102.80951 , 107.385666,
       102.97409 , 117.60344 , 111.595146,  77.08375 , 115.24198 ,
       107.81446 , 108.253914,  94.42443 ,  95.731575,  96.49834 ,
        95.54031 ,  95.05127 , 111.17734 ,  98.33211 ,  95.01117 ,
       106.64177 , 102.24726 ,  92.716   , 110.41687 , 114.48077 ,
        97.07343 , 102.65878 , 106.77703 ,  97.467094, 103.926056,
       110.37166 ,  94.02239 , 104.76815 , 105.24773 , 103.00748 ,
        93.596306,  93.57843 ,  91.21482 ,  76.7413  , 106.23054 ,
       111.469925, 104.068756,  97.5529  ,  95.9152  , 104.79743 ,
       114.196754,  98.03835 , 115.15435 , 105.97884 ,  92.649864,
        92.57502 ,  98.62248 ,  92.238785, 104.354065,  98.96097 ,
       109.75964 ,  78.666664,  98.303   ,  96.57814 , 111.56247 ,
        95.17513 ,  90.77623 ,  94.49942 , 114.83174 , 110.25062 ,
        92.669846,  97.474335, 117.38284 ,  96.015015,  94.71563 ,
       111.37195 , 102.50979 , 104.48041 , 106.16397 ,  93.41915 ,
       104.14909 , 106.473526,  97.23191 , 104.87196 , 117.62188 ,
        95.4102  , 105.22442 ,  95.38459 , 101.59079 , 109.26459 ,
       108.11417 ,  96.80497 ,  93.9079  , 109.511444,  95.222145,
       115.472374, 111.13423 , 101.36787 , 101.52458 , 109.26683 ,
        94.3015  , 109.22275 ,  94.648224, 108.8111  , 109.980286,
        94.35069 , 100.658   , 114.74669 ,  94.87446 , 109.05061 ,
        97.92519 , 110.06473 ,  92.911606,  97.47473 ,  93.4454  ,
       111.03596 ,  93.60022 ], dtype=float32)

In [135]:
# predict output for test_df values
predict_test_df = model.predict(D_test_df)

In [136]:
print(predict_test_df.shape)
predict_test_df

(4209,)

array([ 81.1214  , 101.27536 ,  93.7672  , ..., 101.127144, 106.30044 ,
        93.611   ], dtype=float32)